<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

  <title>Список двигателей</title>
</head>
<body>
<div class="container">

  <h3>Двигатели</h3>
  <hr>
  <a th:href="@{/engine/add}"
     class="btn btn-primary btn-sm mb-3"> Добавить двигатель </a>
  <br/>


  <hr>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>HP</th>
      <th>VOL</th>
      <th>Параметры</th>

    </tr>
    </thead>

    <tbody>
    <tr th:each="tempEngine : ${engine}">

      <td th:text="${tempEngine.id}" />
      <td th:text="${tempEngine.hp}" />
      <td th:text="${tempEngine.vol}" />

      <td>
        <a th:href="@{/engine/update (id=${tempEngine.id})}"
           class="btn btn-info btn-sm">Обновить</a>
        <a th:href="@{/engine/chip (id_en=${tempEngine.id})}"
           class="btn btn-info btn-sm">Чипы</a>
        <a th:href="@{/engine/delete (id=${tempEngine.id})}"
           class="btn btn-warning btn-sm"
           onclick="if (!(confirm('Удалить?'))) return false">Удалить</a>
      </td>

    </tr>

    </tbody>
  </table>

  <hr>
  <a th:href="@{/}">В главное меню</a>


</div>
</body>
</html>