<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.com" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text = "'Меню'"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h3>Меню</h3>
    <hr>
    <a th:href="@{/car/list}"
       class="btn btn-primary btn-sm mb-3"> Список машин</a>
    <br/>
    <a th:href="@{/color/list}"
       class="btn btn-primary btn-sm mb-3"> Список цветов</a>
    <br/>
    <a th:href="@{/chip/list}"
       class="btn btn-primary btn-sm mb-3"> Список чипов</a>
    <br/>
    <a th:href="@{/engine/list}"
       class="btn btn-primary btn-sm mb-3"> Список двигателей</a>
    <br/>
    </div>
</body>
</html>


