<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

  <title>Список цветов</title>
</head>
<body>
<div class="container">

  <h3 th:text="${car.name}"></h3>
  <hr>
  <a th:href="@{/car/addColor (id=${car.id})}"
     class="btn btn-primary btn-sm mb-3"> Прикрепить цвет </a>
  <br/>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Цвет</th>
      <th>Действия</th>


    </tr>
    </thead>

    <tbody>
    <tr th:each="tempColor : ${color}">
      <td th:text="${tempColor.id}" />
      <td th:text="${tempColor.name}" />
      <td>
        <a th:href="@{/car/addColor (id=${car.id}, id_col=${tempColor.id})}"
           class="btn btn-primary btn-sm mb-3"> Прикрепить цвет </a>
      </td>
    </tr>

    </tbody>
  </table>


  <a th:href="@{/car/list}">К списку машин</a>


</div>
</body>
</html>