<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

  <title>Список двигателей</title>
</head>
<body>
<div class="container">

  <h3 th:text="${chip.name}"></h3>
  <hr>
  <a th:href="@{/chip/selectEngine (id_ch=${chip.id})}"
     class="btn btn-primary btn-sm mb-3"> Присвоить двигатель </a>
  <br/>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>HP</th>
      <th>VOL</th>
      <th>Параметры</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="tempEngine : ${chip.Engines}">
      <td th:text="${tempEngine.id}" />
      <td th:text="${tempEngine.hp}" />
      <td th:text="${tempEngine.vol}" />
      <td>
        <a th:href="@{/chip/deleteengine (id_en=${tempEngine.id}, id_ch=${chip.id})}"
           class="btn btn-warning btn-sm"
           onclick="if (!(confirm('Удалить?'))) return false">Удалить</a>
      </td>
    </tr>

    </tbody>
  </table>


  <a th:href="@{/chip/list}">К списку чипов</a>


</div>
</body>
</html>