<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

  <title>Обновить информацию о чипах</title>
</head>

<body>
<div class="container">
  <h3>Чипы</h3>
  <hr>

  <p class="h4 mb-4">Обновить информацию о чипах</p>

  <form action="#" th:action="@{/chip/save}" th:object="${chip}"
        method="POST">

    <input type="hidden" th:field="*{id}">

    <input type="text" th:field="*{name}" class="form-control mb-4 col-4"
           placeholder="Название" required>

    <hr>

    <button type="submit" class="btn btn-warning col-2">Сохранить</button>
  </form>
  <hr>
  <a th:href="@{/chip/list}">К списку чипов</a>
</div>
</body>

</html>